.page {
    background-image: url(SAYNA_Horizontal_-_Blanc.png);
}


/*Barre de la navigation*/

.mainty {
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
}

div.text1 {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

div.class1 {
    background-color: black;
    margin-top: 0px;
    color: grey;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif, 'Raleway';
}

div.image1 {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    position: center;
    margin-left: 20%;
    margin-right: 10%;
}

button {
    background-color: #3d9f96;
    border: 5px solde #3d9f96;
    border-radius: 25px;
    padding: 2% 5%;
    color: white;
    font-family: Open Sans, Arial, sans-serif;
    cursor: pointer;
}

h1 {
    font-family: helvetica, Arial, sans-serif, 'Raleway';
    font-size: 30px;
    text-align: center;
    color: grey;
}

h2 {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
}


/*Fin de la Barre de navigation*/


/*Header*/

div.image2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 300px;
    margin-left: 300px;
}

div.text2 {
    text-align: center;
}

h3 {
    font-family: Open Sans, Arial, sans-serif;
    color: grey;
    text-align: center;
}

.soratra {
    text-align: center;
}

.colonnes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 400px;
    margin-right: 600px;
    margin-left: 600px;
}

.colonne1 {
    padding-top: 150px;
    color: #FFFFFF;
    background-color: grey;
    border-radius: 25px;
    width: 150px;
    text-align: center;
}

.image3 {
    background-image: url(seperator1-.png);
    text-align: center;
    background-position: center;
    background-color: black;
    color: #FFFFFF;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
}

h4 {
    font-family: Open Sans, Arial, sans-serif;
    margin-left: 600px;
    margin-right: 600px font-size: 200px;
}

.image4 {
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    margin-left: 550px;
}

.image5 {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    background-image: url(dzdzd.png);
    background-repeat: no-repeat;
    padding-top: 10%;
}

h5 {
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    padding-top: 0px;
    opacity: 35%;
}

.image6 {
    font-family: Helvetica, Arial, sans-serif, 'Raleway';
    font-size: 20px;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}

h6 {
    font-size: 200%;
}


/*Fin de Header*/


/*Footer*/

.image7 {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 120%;
}

.footer {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
}


/*Fin de Footer*/